<%layout("layouts/boilerplate")%>
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card p-4">


                <form action="" method="POST">
                    <h2 class="text-center mb-4">Expression Evaluator</h2>
                    <div class="mb-3">
                        <label class="form-label">Enter Expression</label>
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-success">Convert</button>
                    </div>
                </form>
            </div>
        </div>
    </div>