<%layout("layouts/boilerplate.ejs")%>
    <%title="Coding Analyzer with Expression Evaluator"%>

        <div class="row">
            <div class="col">
                <h1>Expression & Code Analyzer</h1>
                <p>
                    Convert expressions (Infix, Prefix, Postfix) <br>
                    OR analyze code complexity and nesting
                </p>
                <a href="/expression" ><button class="btn btn-primary">Expression Tool</button></a>
                <a href="/analyze" ><button class="btn btn-primary">Code Analyze</button></a>
            </div>
        </div>